
.service {
  background-image: url("../image/wave.svg");
  background-size: cover;
  width: 100vh;
  height: 500px;

}
.blur-background {
  background-image: url("chemin/vers/votre/image.jpg");
  filter: blur(0.5px);
  /* Autres styles de fond */
}

.form-container {
   background-color: #efefef; /* Fallback color */
  background-color: rgba(239,239,239, 0.5); /* Black w/opacity/see-through */
  font-weight: bold;
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 20px;

}


